.program-step {
  button {
    height: 9rem;
    border-radius: 50%;
    @include border(7px, solid, #c6c8ce, all);
    align-self: end;
    padding: 6px;
    cursor: pointer;

    .btn-txt {
      width: 100%;
      padding: 0;
    }
  }
}
