i {
  font-size: 1.5rem;
}

.fas.fa-angle-double-down {
  margin-right: 0.5rem;
}

.fas.fa-question {
  font-size: 2.5rem;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
