section {
  margin-bottom: 2rem;
  padding-top: 2rem;

  &.darker-bg {
    margin-bottom: 0;
    margin-top: -2px;
  }

  p {
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  // marketing video
  &.show-video {
    padding: 2rem 0;
    border-radius: 3rem 3rem 0 0;
    -webkit-border-radius: 3rem 3rem 0 0;
    -moz-border-radius: 3rem 3rem 0 0;
    -ms-border-radius: 3rem 3rem 0 0;
    -o-border-radius: 3rem 3rem 0 0;

    .video-container {
      background: $gray-cl;
      padding: 9px;
      padding-bottom: 0;
      border-radius: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      -o-border-radius: 9px;

      video {
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
      }
    }

    a {
      display: inline-block;
      font-weight: bolder;
      font-size: 1.3rem;
      padding: 0.25rem 2rem;
      margin: 1rem 0;
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
      @include border(3px, $dark-cl, solid, all);
    }

    .know-more {
      font-size: 1.4rem;
      direction: rtl;
    }
  }

  // growth booster
  &.growth-booster {
    margin-bottom: 0;
  }

  &.methods {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); // temporary because it is suposed to be displayed in 2 columns in desktop
    grid-gap: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
  }

  // growth percentage section
  .percent {
    margin-top: 4rem;
    font-size: 7rem;
    font-weight: 700;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;

    &.scaleup {
      transform: scale(130%);
      -webkit-transform: scale(130%);
      -moz-transform: scale(130%);
      -ms-transform: scale(130%);
      -o-transform: scale(130%);
    }

    p {
      margin-bottom: 0;
    }
    .percent-num {
      font-size: 7rem;
      grid-row: -1/1;
    }
    .percent-mark {
      font-size: 70%;
      justify-self: start;
    }
    .month {
      color: gray;
      font-size: 2rem;
      line-height: 1;
      align-self: start;
    }
  }

  // strategy section
  &.strategy {
    p {
      font-weight: normal;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      width: 110%;
      padding: 1rem 0;
    }
  }

  // converting program section
  &.program {
    p {
      width: 110%;
      padding: 0.8rem 0;
    }

    .fade {
      // background: #244346;
      background: #203f41;
    }
    .underline {
      border-bottom: 2px solid $gray-cl;
      padding-bottom: 2px;
    }

    .mobile-design-program {
      padding-bottom: 5rem;
    }
  }

  // moneyback section
  &.moneyback {
    padding: 3rem 0;
    p {
      font-size: 1.3rem;
    }
  }
}
